---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: |-
        {
          "query": "query GithubRepoStats__Github__Graphql__Query($query: String!, $after: String) {\n  search(type: ISSUE, query: $query, first: 100, after: $after) {\n    issueCount\n    edges {\n      cursor\n      node {\n        __typename\n        ... on PullRequest {\n          id\n          number\n          title\n          url\n          createdAt\n          mergedAt\n          author {\n            __typename\n            login\n          }\n          repository {\n            name\n          }\n          commits {\n            totalCount\n          }\n          comments(first: 100) {\n            edges {\n              cursor\n              node {\n                author {\n                  __typename\n                  login\n                }\n                body\n              }\n            }\n            totalCount\n          }\n          reviews(first: 100) {\n            edges {\n              cursor\n              node {\n                author {\n                  __typename\n                  login\n                }\n                body\n              }\n            }\n            totalCount\n          }\n        }\n      }\n    }\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n  }\n}",
          "variables": {
            "query": "repo:HeRoMo/github-repo-stats type:pr is:merged merged:2020-12-01..2020-12-31",
            "after": null
          },
          "operationName": "GithubRepoStats__Github__Graphql__Query"
        }
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1609343386'
      X-Ratelimit-Used:
      - '22'
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "search": {
              "issueCount": 1,
              "edges": [
                {
                  "cursor": "Y3Vyc29yOjE=",
                  "node": {
                    "__typename": "PullRequest",
                    "id": "MDExOlB1bGxSZXF1ZXN0NTM3OTM1MDY0",
                    "number": 1,
                    "title": "add pronto workflow",
                    "url": "https://github.com/HeRoMo/github-repo-stats/pull/1",
                    "createdAt": "2020-12-12T09:05:40Z",
                    "mergedAt": "2020-12-12T14:39:47Z",
                    "author": {
                      "__typename": "User",
                      "login": "HeRoMo"
                    },
                    "repository": {
                      "name": "github-repo-stats"
                    },
                    "commits": {
                      "totalCount": 21
                    },
                    "comments": {
                      "edges": [

                      ],
                      "totalCount": 0
                    },
                    "reviews": {
                      "edges": [
                        {
                          "cursor": "Y3Vyc29yOnYyOpO5MjAyMC0xMi0xMlQxODoyMzozNCswOTowMLkyMDIwLTEyLTEyVDE4OjIzOjM0KzA5OjAwziDTF1E=",
                          "node": {
                            "author": {
                              "__typename": "Bot",
                              "login": "github-actions"
                            },
                            "body": ""
                          }
                        }[...]
