---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: |-
        {
          "query": "query GithubRepoStats__Github__Graphql__Query($query: String!, $after: String) {\n  search(type: ISSUE, query: $query, first: 100, after: $after) {\n    issueCount\n    edges {\n      cursor\n      node {\n        __typename\n        ... on PullRequest {\n          id\n          number\n          title\n          url\n          createdAt\n          mergedAt\n          author {\n            __typename\n            login\n          }\n          repository {\n            name\n          }\n          commits {\n            totalCount\n          }\n          comments(first: 100) {\n            edges {\n              cursor\n              node {\n                author {\n                  __typename\n                  login\n                }\n                body\n              }\n            }\n            totalCount\n          }\n          reviews(first: 100) {\n            edges {\n              cursor\n              node {\n                author {\n                  __typename\n                  login\n                }\n                body\n              }\n            }\n            totalCount\n          }\n        }\n      }\n    }\n    pageInfo {\n      hasNextPage\n      endCursor\n    }\n  }\n}",
          "variables": {
            "query": "org:HeRoMo type:pr is:merged merged:2020-12-01..2020-12-31",
            "after": null
          },
          "operationName": "GithubRepoStats__Github__Graphql__Query"
        }
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v4
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1609323902'
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        {
          "data": {
            "search": {
              "issueCount": 8,
              "edges": [
                {
                  "cursor": "Y3Vyc29yOjE=",
                  "node": {
                    "__typename": "PullRequest",
                    "id": "MDExOlB1bGxSZXF1ZXN0NTM4MTkyOTI0",
                    "number": 94,
                    "title": "improve default value of commit input",
                    "url": "https://github.com/HeRoMo/pronto-action/pull/94",
                    "createdAt": "2020-12-12T14:15:06Z",
                    "mergedAt": "2020-12-12T14:43:37Z",
                    "author": {
                      "__typename": "User",
                      "login": "HeRoMo"
                    },
                    "repository": {
                      "name": "pronto-action"
                    },
                    "commits": {
                      "totalCount": 4
                    },
                    "comments": {
                      "edges": [

                      ],
                      "totalCount": 0
                    },
                    "reviews": {
                      "edges": [

                      ],
                      "totalCount": 0
                    }
                  }
                },
                {
                  "cursor": "Y3Vyc29yOjI=",
                  "node": {
                    "__typename": "PullRequest",
                    "id": "MDExOlB1bGxSZXF1ZXN0NTM3OTY4MDE2",
                    "number": 93,
                    "title": "v1.9.0",
                    "url": "https://github.com/HeRoMo/pronto-acti[...]
