---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/commits?order=asc&page=1&per_page=100&q=committer:HeRoMo%20merge:false%20committer-date:2020-12-01..2020-12-31&sort=committer-date
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.cloak-preview; format=json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1610810059'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: |-
        {
          "total_count": 14,
          "incomplete_results": true,
          "items": [
            {
              "url": "https://api.github.com/repos/HeRoMo/github-repo-stats/commits/68e969a6e2db10e21089783002e09850f50ea8b1",
              "sha": "68e969a6e2db10e21089783002e09850f50ea8b1",
              "node_id": "MDY6Q29tbWl0MzEyODU4MzgzOjY4ZTk2OWE2ZTJkYjEwZTIxMDg5NzgzMDAyZTA5ODUwZjUwZWE4YjE=",
              "html_url": "https://github.com/HeRoMo/github-repo-stats/commit/68e969a6e2db10e21089783002e09850f50ea8b1",
              "comments_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/commits/68e969a6e2db10e21089783002e09850f50ea8b1/comments",
              "commit": {
                "url": "https://api.github.com/repos/HeRoMo/github-repo-stats/git/commits/68e969a6e2db10e21089783002e09850f50ea8b1",
                "author": {
                  "date": "2020-12-02T00:15:11.000+09:00",
                  "name": "HeRoMo",
                  "email": "hero@asterisk-works.jp"
                },
                "committer": {
                  "date": "2020-12-02T00:15:11.000+09:00",
                  "name": "HeRoMo",
                  "email": "hero@asterisk-works.jp"
                },
                "message": "improve long term",
                "tree": {
                  "url": "https://api.github.com/repos/HeRoMo/github-repo-stats/git/trees/b2cb6c3fa541b98b99bb1f12c8285ecdba1fcdd6",
                  "sha": "b2cb6c3fa541b98b99bb1f12c8285ecdba1fcdd6"
                },
                "comment_count": 0
              },
              "author": {
                "login": "HeRoMo",
                "id": 9190890,
                "node_id": "MDQ6VXNlcjkxOTA4OTA=",
                "avatar_url": "https://avatars0.githubusercontent.com/u/9190890?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/HeRoMo",
                "html_url": "https://github.com/HeRoMo",
                "followers_url": "https://api.github.com/users/HeRoMo/followers",
                "following_url": "https://api.github.com/users/HeRoMo/following{/other_user}",
                "gists_url": "https://api.github.com/users/HeRoMo/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/HeRoMo/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/HeRoMo/subscriptions",
                "organizations_url": "https://api.github.com/users/HeRoMo/orgs",
                "repos_url": "https://api.github.com/users/HeRoMo/repos",
                "events_url": "https://api.github.com/users/HeRoMo/events{/privacy}",
                "received_events_url": "https://api.github.com/users/HeRoMo/received_events",
                "type": "User",
                "site_admin": false
              },
              "committer": {
                "login": "HeRoMo",
                "id": 9190890,
                "node_id": "MDQ6VXNlcjkxOTA4OTA=",
                "avatar_url": "https://avatars0.githubusercontent.com/u/9190890?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/HeRoMo",
                "html_url": "https://github.com/HeRoMo",
                "followers_url": "https://api.github.com/users/HeRoMo/followers",
                "following_url": "https://api.github.com/users/HeRoMo/following{/other_user}",
                "gists_url": "https://api.github.com/users/HeRoMo/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/HeRoMo/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/HeRoMo/subscriptions",
                "organizations_url": "https://api.github.com/users/HeRoMo/orgs",
                "repos_url": "https://api.github.com/users/HeRoMo/repos",
                "events_url": "https://api.github.com/users/HeRoMo/events{/privacy}",
                "received_events_url": "https://api.github.com/users/HeRoMo/received_events",
                "type": "User",
                "site_admin": false
              },
              "parents": [
                {
                  "url": "https://api.github.com/repos/HeRoMo/github-repo-stats/commits/ff27cdb6bc9ff017c1e2382dbd30a091aa9062f1",
                  "html_url": "https://github.com/HeRoMo/github-repo-stats/commit/ff27cdb6bc9ff017c1e2382dbd30a091aa9062f1",
                  "sha": "ff27cdb6bc9ff017c1e2382dbd30a091aa9062f1"
                }
              ],
              "repository": {
                "id": 312858383,
                "node_id": "MDEwOlJlcG9zaXRvcnkzMTI4NTgzODM=",
                "name": "github-repo-stats",
                "full_name": "HeRoMo/github-repo-stats",
                "private": false,
                "owner": {
                  "login": "HeRoMo",
                  "id": 9190890,
                  "node_id": "MDQ6VXNlcjkxOTA4OTA=",
                  "avatar_url": "https://avatars0.githubusercontent.com/u/9190890?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/HeRoMo",
                  "html_url": "https://github.com/HeRoMo",
                  "followers_url": "https://api.github.com/users/HeRoMo/followers",
                  "following_url": "https://api.github.com/users/HeRoMo/following{/other_user}",
                  "gists_url": "https://api.github.com/users/HeRoMo/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/HeRoMo/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/HeRoMo/subscriptions",
                  "organizations_url": "https://api.github.com/users/HeRoMo/orgs",
                  "repos_url": "https://api.github.com/users/HeRoMo/repos",
                  "events_url": "https://api.github.com/users/HeRoMo/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/HeRoMo/received_events",
                  "type": "User",
                  "site_admin": false
                },
                "html_url": "https://github.com/HeRoMo/github-repo-stats",
                "description": null,
                "fork": false,
                "url": "https://api.github.com/repos/HeRoMo/github-repo-stats",
                "forks_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/forks",
                "keys_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/keys{/key_id}",
                "collaborators_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/collaborators{/collaborator}",
                "teams_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/teams",
                "hooks_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/hooks",
                "issue_events_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/issues/events{/number}",
                "events_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/events",
                "assignees_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/assignees{/user}",
                "branches_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/branches{/branch}",
                "tags_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/tags",
                "blobs_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/git/blobs{/sha}",
                "git_tags_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/git/tags{/sha}",
                "git_refs_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/git/refs{/sha}",
                "trees_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/git/trees{/sha}",
                "statuses_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/statuses/{sha}",
                "languages_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/languages",
                "stargazers_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/stargazers",
                "contributors_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/contributors",
                "subscribers_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/subscribers",
                "subscription_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/subscription",
                "commits_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/commits{/sha}",
                "git_commits_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/git/commits{/sha}",
                "comments_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/comments{/number}",
                "issue_comment_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/issues/comments{/number}",
                "contents_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/contents/{+path}",
                "compare_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/compare/{base}...{head}",
                "merges_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/merges",
                "archive_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/{archive_format}{/ref}",
                "downloads_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/downloads",
                "issues_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/issues{/number}",
                "pulls_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/pulls{/number}",
                "milestones_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/milestones{/number}",
                "notifications_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/notifications{?since,all,participating}",
                "labels_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/labels{/name}",
                "releases_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/releases{/id}",
                "deployments_url": "https://api.github.com/repos/HeRoMo/github-repo-stats/deployments"
              },
              "score": 1.0
            },
            {
              "url": "https://api.github.com/repos/HeRoMo/github-repo-stats/commits/0017a8c2679580169f7e15e1a4e443453409d00e",
              "sha": "0017a8c2679580169f7e15e1a4e443453409d00e",
              "node_id": "MDY6Q29tbWl0MzEyODU4MzgzOjAwMTdhOGMyNjc5NTgwMTY5ZjdlMTVlMWE0ZTQ0MzQ1MzQwOWQwMGU=",
              "html_url": "https://github.com/HeRoMo/github-repo-stats/commit/0017a8c2679580169f7e15e1a4e443453409d00e",
              "comments_url": "https://api.g[...]
