name: RSpec
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  rspec:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['3.1' ,'3.2', '3.3']
    name: Test in Ruby ${{matrix.ruby}}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
          bundler-cache: true
      - run: |
          gem install bundler
          bundle install --path vendor/bundle --jobs 4 --retry 3
          bundle exec rspec
        env: # Or as an environment variable
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage_${{matrix.ruby}}
          path: coverage

